*{
    margin: 0;
    padding: 0;
}


.hedder{
    background-image: url(../img/medic-1.jpg);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    animation: p infinite 6s alternate;
}

@keyframes p{
 from{
    background-image: url(../img/medic-1.jpg);
 } 
 to{
    background-image: url(../img/medic-7.jpg);
 }
}

.info{
    float: left;
    width: 50%;
}

.links{
    float: left;
    width: 50%;
}
.clear{
    clear: both;
}

.links p{
    float: left;
}
.links a{
    float: left;
    transform: translateX(220px);
    
    padding: 5px;
    margin-right: 10px;
    border: solid 1px #e7e7e7;
}
.c{
    clear: both;
}
.head{
    background-color: #f8f8f8;
    
}
.info p{
    transform: translateX(150px);
}
.links i{
    padding: 5px;
    color: black;
}


 .links i:hover{
    background-color:rgb(9, 9, 134);
    color: #f8f8f8;
}

.info p{
    font-size: 14px;
    font-family: "Fira Sans";
    font-weight: 400;
    color: #888;
    margin-top: 10px;
}
.links p{
    font-size: 14px;
    font-family: "Fira Sans";
    font-weight: 400;
    color: #888;
    margin-top: 10px;
    transform: translateX(200px);
}












    


.hh-img img{
    width: 150px;
}
.continerr{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    position: fixed;
    
}
.hh-links a{
    margin-right: 15px;
    font-family:cursive;
    font-weight: 400;
    font-size: small;
    
    
}
.hh-links{
    transform: translateX(90px);
    margin-top: 5px;
}

.headd{
    background-color: white;
    height: 60px;
}
.hh-links a{
    text-decoration: none;
}
 .item{
    color: #888;
}
.hh-links a:hover{
    color: rgb(41, 148, 248);
}










.hh-info{
    text-align: center;
    margin-top: 190px;
    cursor: -webkit-grab;
    animation:  l 5s 2 alternate;
}


.y{
    background-color: rgba(70, 175, 245, 0.5);
    height: 100vh;
}
.hh-info h1{
    color: #fff;
    font-size: 60px;
    font-family: "Fira Sans";
    font-weight: 400;
    margin-bottom: 20px;
    
    
}
@keyframes l{
    from {
        opacity: 1;
        transform: none;
         }
     to {
         
         opacity: 0;
         transform: translate3d(0, 60px, 0);
     }
 }

.hh-info p{
    color: rgba(255, 255, 255, .92);
    font-size: 20px;
    font-family: "Fira Sans";
    font-weight: 400;
    margin-bottom: 50px;
}
.hh-info a{
    text-decoration: none;
    padding: 15px;
}

.N{
    background-color: #fff;
    border-radius: 5%;
    color: #000;
    margin-right: 15px;
    font-size: 14px;
    font-family: "Fira Sans";
    font-weight: 700;
}
.E{
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 14px;
    font-family: "Fira Sans";
    font-weight: 700;
    color: #fff;
}

.N:hover{
    background-color: #d3d3d3;
}
.E:hover{
    background-color: #fff;
    color: #000;
}









.About{
    padding: 100px;
}

.about-img img{
    width: 100%;
    transform: translateX(70px);
}

.continerrr{
    display: flex;
}

.about-img{
 width: 40%;
}
.about-info{
    width: 40%;
}

.about-info h2{
    font-family: "Fira Sans";
    font-size: 32px;
    color: #303030;
    font-weight: 400;
    margin-bottom: 25px;
    transform: translateX(220px);

}
.about-info p{
    line-height: 1.86em;
    font-family: "Fira Sans";
    font-size: 15px;
    font-weight: 400;
    color: #686868;
    width: 100%;
    margin-bottom: 25px;
    transform: translateX(220px);
}

.about-info ul{
    list-style: none;
}

.about-info ul li i{
    background-color: #469fe4 !important;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 15px;
}
.about-info ul li{
    font-family: "Fira Sans";
    font-size: 15px;
    font-weight: 400;
    color: #686868;
    transform: translateX(190px);

}

.about-info {
    transform: translateX(50px);
    
}
.about-info{
    transform: translateY(100px);
}










.contt{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    
}
.number{
    background-color: #f8f8f8;
    padding: 50px;
    transform: translateY(-100px);
}
.num-item1{
    margin-left: 150px;
}
.num-item2{
    margin-right: 120px;
}
.num-item3{
    margin-right: 150px;
    transform: translateX(-50px);
}
.num-item4{
    transform: translateX(-140px);
}

.num-item1 i{
    color: #469fe4;
    opacity: .55;
    transform: translateX(30px);
    font-size: 30px;
    margin-bottom: 20px;
}
.num-item1 h2{
    color: #469fe4;
    font-family: "Fira Sans";
    font-size: 52px;
    font-weight: normal;
    margin-bottom: 20px;
}
.num-item1 p{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.55);
    font-family: "Fira Sans";
    font-weight: 400;
}
.num-item2 i{
    color: #469fe4;
    opacity: .55;
    transform: translateX(15px);
    font-size: 30px;
    margin-bottom: 20px;
}
.num-item2 h2{
    color: #469fe4;
    font-family: "Fira Sans";
    font-size: 52px;
    font-weight: normal;
    margin-bottom: 20px;
}
.num-item2 p{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.55);
    font-family: "Fira Sans";
    font-weight: 400;
}

.num-item3 i{
    color: #469fe4;
    opacity: .55;
    transform: translateX(15px);
    font-size: 30px;
    margin-bottom: 20px;
}
.num-item3 h2{
    color: #469fe4;
    font-family: "Fira Sans";
    font-size: 52px;
    font-weight: normal;
    margin-bottom: 20px;
    transform: translateX(10px);
}
.num-item3 p{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.55);
    font-family: "Fira Sans";
    font-weight: 400;
    transform: translateX(-10px);
}

.num-item4 i{
    color: #469fe4;
    opacity: .55;
    transform: translateX(15px);
    font-size: 30px;
    margin-bottom: 20px;
}
.num-item4 h2{
    color: #469fe4;
    font-family: "Fira Sans";
    font-size: 52px;
    font-weight: normal;
    margin-bottom: 20px;
    transform: translateX(10px);
}
.num-item4 p{
    font-size: 20px;
    color: rgba(0, 0, 0, 0.55);
    font-family: "Fira Sans";
    font-weight: 400;
    transform: translateX(-10px);
}








.nnn{
    position: absolute;
   position: absolute;
   top:1750px;
   left: 450px;;

}

.nnn h2{
    text-align: center;
}
.nnn p{
    text-align: center;
}
.co{
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    box-sizing: border-box;
    width: 100%;
    
    
    
}
.M-item{
    width: 400px;
    height: 150px;
    justify-content: center;
    transform: translateX(50px);
    transform: translate(50px,70px);
    
   

}
.nnn h2{
    font-family: "Fira Sans";
    font-size: 30px;
    color: #303030;
    font-weight: 400;
    margin-bottom: 20px;
}
.nnn p{
    font-size: 17px;
    color: #888;
    font-family: "Fira Sans";
    font-weight: 400;
        
}

.M-item i{
    color: #686868;
    font-size: 28px;
    font-weight: 400;
    margin-right: 10px;
    
}
.M-item span{
    margin-bottom: 10px;
    font-size: 17px;
    font-family: "Fira Sans";
    color: #303030;
    font-weight: 500;
}
.M-item p{
    font-size: 14px;
    color: #888;
    font-family: "Fira Sans";
    font-weight: 400;
     width: 300px;
     line-height: 1.86em;
     margin-top: 15px;
}










.cn{
    display: flex;
}
.happ-img img{
  width: 500px;
  transform: translateX(-20px);
}
.happ-info ul {
    list-style: none;
}
.Happy{
    padding: 70px;
    background-color: #f8f8f8;
    transform: translateY(50px);
}
.happ-info h2{
    font-family: "Fira Sans";
    font-size: 32px;
    color: #303030;
    font-weight: 400;
    margin-bottom: 25px;
    transform: translateX(35px);

}
.happ-info p{
    font-size: 1.04em;
    color: #606060;
    line-height: 1.86em;
    font-family: "Fira Sans";
    font-weight: 400;
    width: 80%;
    margin-bottom: 30px;
    transform: translateX(35px);
}
.happ-info ul li i{
    color: #469fe4;
    font-size: 18px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.happ-info ul li{
    font-family: "Fira Sans";
    font-size: 15px;
    line-height: 1.86em;
    font-weight: 400;
    color: #686868;
}
.happ-info{
    transform: translateY(50px);
}









.Mas{
    padding: 70px;
}
.ca{
    display: flex;
    
}

.Mas-item1{
    width: 500px;
    transform: translateY(200px);
    margin-left: 20px;
    background-color: #a5ccec;
    cursor:grab;
    border-radius: 4px;
    transition: width 0.1s ;
    box-shadow: #c3e1fd 13px 6px;

}
.Mas-item1:hover{
    width: 600px;
    
}
.Mas-item2{
    width: 500px;
    transform: translateY(200px);
    margin-left: 20px;
    background-color: #a5ccec;
    cursor:grab;
    border-radius: 4px;
    transition: width 4s ;
    box-shadow: #c3e1fd 13px 6px;
}
.Mas-item2:hover{
    width: 600px;
    
}
.Mas-item3{
    width: 500px;
    transform: translateY(200px);
    margin-left: 20px;
    background-color: #a5ccec;
    cursor:grab;
    border-radius: 4px;
    transition: width 4s ;
    box-shadow: #c3e1fd 13px 6px;

}
.Mas-item3:hover{
    width: 600px;
    
}
.j{
    position: absolute;
    top:3050px;
    left: 480px;
    text-align: center;
}

.par{
    background: #f8f8f8;
    padding: 22px 26px;
    border-radius: 4px;
    transition: background-color 3s ;
}

.par:hover{
 background-color: #aab9eb;
 
}
.j h2{
    font-family: "Fira Sans";
    font-size: 30px;
    color: #303030;
    font-weight: 400;
    margin-bottom: 20px;

}
.j p{
    font-size: 17px;
    color: #888;
    line-height: 1.86em;
    font-family: "Fira Sans";
    font-weight: 400;
    font-family: 'Open Sans', arial;
}
.par{
    font-family: 'Open Sans', arial;
    font-weight: 400;
    color: #686868;
    font-size: 16px;
}
.Mas-item1 p{
    font-size: 15px;
    font-family: 'Open Sans', arial;
    font-weight: 400;
    color: #686868;
    width: 80%;
    
}
.Mas-item2 p{
    font-size: 15px;
    font-family: 'Open Sans', arial;
    font-weight: 400;
    color: #686868;
    width: 80%;

}
.Mas-item3 p{
    font-size: 15px;
    font-family: 'Open Sans', arial;
    font-weight: 400;
    color: #686868;
    width: 90%;
}











.blue{
    padding: 100px;
    transform: translateY(200px);
    background-color: #53aff5;
    text-align: center;
}

.bl h2{
    font-family: "Fira Sans";
    font-size: 36px;
    line-height: 1.5em;
    color: #fff;
    font-weight: 400;
    margin-bottom: 30px;
}
.bl p{
    color: rgba(255, 255, 255, .82);
    font-size: 20px;
    font-style: normal;
    font-family: 'Open Sans', arial;
    font-weight: 400;
    margin-bottom: 35px;
}
.bl a{
    border: #fff 1px solid;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    font-family: cursive;
}
.k:hover{
    background-color: #fff;
    color: #000;
    font-size: 14px;
    opacity: 1;
    font-family: cursive;
}












.Blog{
    transform: translateY(200px);
}

.G-info{
    float: left;
    width: 50%;
    transform: translateX(80px);
}
.G-img{
    float: left;
    width: 50%;
}

.a{
    clear: both;
}
.Gallery{
    background: #f8f8f8;
    padding: 100px;
}
.G-info h2{
    color: #303030;
    font-weight: 400;
    font-family: "Alegreya";
    font-size: 1.5rem;
    margin-bottom: 30px;
}
.G-info p{
    line-height: 1.86em;
    font-family: "Alegreya Sans";
    font-size: 17px;
    font-weight: 400;
    color: #686868;
    width: 90%;
    margin-bottom: 30px;
}
.G-info h3{
    font-family: "Alegreya Sans";
    font-size: 17px;
    font-weight: 400;
    color: #686868;
    margin-bottom: 15px;

}
.G-info ul{
    list-style: none;
}
.G-info ul li i  {
     background-color: #8e7754 !important;
     padding: 10px;
     border-radius: 50%;
     margin-right: 15px;
     margin-bottom: 15px;
     color: #f8f8f8;
}

.G-img{
    transform:translateX(40px);
}
.G-img iframe{
    width: 80%;
}

.Blog{
    background-color: #456a86;
    padding: 70px 0px 0px 40px;
}

.cccc{
    display: flex;
    justify-content: space-evenly;
    color:#f8f8f8;
}
.elm1{
    width: 25%;
    transform: translateX(90px);
}
.elm2{
    width: 25%;
    transform: translateX(150px);
}
.elm3{
    width: 50%;
    transform: translateX(190px);
}
.elm4 {
    width: 25%;
    transform: translateX(-90px);
 
}
.Blog ul{
    list-style: none;
}
.elm1 h3{
    
    opacity: 1;
    color: #ffffff;
    font-size: 17px;
    margin-bottom: 25px;
    font-family: "Alegreya";
    font-weight: 400;
    margin-left: 5px;
}
.pp{
    color: #d4dbe0;
    font-size: 14px;
    line-height: 1.86em;
    margin-bottom: 20px;
    font-family: "Alegreya Sans";
    font-weight: 400;
    width: 100%;
}
.ppp{
    font-family: "Alegreya Sans";
    font-weight: 400;
    color: #d4dbe0;
    font-size: 14px;
    line-height: 1.86em;
}
.elm2 h3{
 
    opacity: 1;
    color: #ffffff;
    font-size: 17px;
    margin-bottom: 25px;
    font-family: "Alegreya";
    font-weight: 400;
    margin-left: 25px;
}

.elm2 ul li{
    color: #d4dbe0;
    font-size: 14px;
    line-height: 1.86em;
    margin-bottom: 20px;
    font-family: "Alegreya Sans";
    font-weight: 400;   
}

.elm3 h3{
    color: #ffffff;
    font-size: 17px;
    margin-bottom: 25px;
    font-family: "Alegreya";
    font-weight: 400;  
    margin-left: 25px;
}
.elm3 ul li{
    color: #d4dbe0;
    font-size: 14px;
    line-height: 1.86em;
    margin-bottom: 20px;
    font-family: "Alegreya Sans";
    font-weight: 400;   
}

.elm4 h3{
    color: #ffffff;
    font-size: 17px;
    margin-bottom: 25px;
    font-family: "Alegreya";
    font-weight: 400; 
    margin-left: 25px; 
}
.elm4 ul li{
    color: #d4dbe0;
    font-size: 14px;
    line-height: 1.86em;
    margin-bottom: 20px;
    font-family: "Alegreya Sans";
    font-weight: 400;   
}

.w{
    background-image: url(../img/contact-details-map.png);
    background-size: cover;
    background-color: rgba(0, 0, 0, .001);
}











.end{
    transform: translateY(200px);
    padding: 15px;
    background-color: #3c5b73;
}
.cv{
    display: flex;
    justify-content: space-around;
}
.end-info p{
    transform: translateX(-90px);
    margin-top: 12px;
    margin-bottom: 12px;
    color: #d4dbe0;
    opacity: 1;
    font-size: 13px;
}
.end-ico i{
    background-color: #324b5f;
    padding: 5px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 50%;
    color: #fff;
    margin-right: 20px;
}
.u{
  position: absolute;
  right:50px;
}
.end-ico a :hover{
  background-color:#3ca5b3;
}