*{
    margin: 0;
    padding: 0;
 }

 .info{
    float: left;
    width: 50%;
}

.links{
    float: left;
    width: 50%;
}
.clear{
    clear: both;
}

.links p{
    float: left;
}
.links a{
    float: left;
    transform: translateX(220px);
    
    padding: 5px;
    margin-right: 10px;
    border: solid 1px #e7e7e7;
}
.c{
    clear: both;
}
.head{
    background-color: #f8f8f8;
    
}
.info p{
    transform: translateX(150px);
}
.links i{
    padding: 5px;
    color: black;
}

 .links i:hover{
    background-color:rgb(9, 9, 134);
    color: #f8f8f8;
}

.info p{
    font-size: 14px;
    font-family: "Fira Sans";
    font-weight: 400;
    color: #888;
    margin-top: 10px;
}
.links p{
    font-size: 14px;
    font-family: "Fira Sans";
    font-weight: 400;
    color: #888;
    margin-top: 10px;
    transform: translateX(200px);
}

.hh-img img{
    width: 150px;
}
.continerr{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    position: fixed;
    
}
.hh-links a{
    margin-right: 15px;
    font-family:cursive;
    font-weight: 400;
    font-size: small;
    
    
}
.hh-links{
    transform: translateX(90px);
    margin-top: 5px;
}

.headd{
    background-color: white;
    height: 60px;
}
.hh-links a{
    text-decoration: none;
}
 .item{
    color:#888;
}
.hh-links a:hover{
    color: rgb(41, 148, 248);
}
.item3{
    color: rgb(69, 69, 207);
}





.Pri{
    background-color: #469fe4;
    padding: 20px;
   
}
.Pri h2{
    margin-left: 150px;
    color: #ffff;
    font-family: "Fira Sans";
}








.pp{
    padding: 50px;
    text-align: center;
}
.pp-continer{
    display:flex;
    justify-content: space-between;
}
.pp-item{
    margin-top: 30px;
}
.pp-item i{
    background-color: #469fe4;
    padding: 30px;
    border-radius: 50%;
    color: #ffff;
    margin-bottom: 20px;
    font-size: 25px;
    transition: padding 1s ,background-color 1s;
}
.pp-item h5{
    margin-bottom: 11px;
    font-size: 17px;
    font-family: "Fira Sans";
    color: #303030;
    font-weight: 500;
}

.pp-item p{
    font-size: 14px;
    color: #888;
    font-weight: 400;
    font-family: "Fira Sans";
    width: 80%;
    transform: translateX(30px);
}

.pp-item i:hover{
   padding: 40px;
   background-color: #89c1ec;
}














.b-cont{
    display: flex;
    padding: 100px;
    background-color: #f8f8f8;
    
}
.b-item1{
    width: 25%;
    background-color: #ffff;
    padding: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    transform: translateX(-15px);
    text-align: center;
    
}
.b-item2{
    width: 25%;
    background-color: #ffff;
    padding: 20px;
    padding-right: 20px;
    box-sizing: border-box;
   transform: translateX(20px);
   text-align: center;
    
}
.b-item3{
    width: 25%;
    background-color: #ffff;
    padding: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    transform: translateX(50px);
    text-align: center;
    
}
.b-item4{
    width: 25%;
    transform: translateX(80px);
    background-color: #ffff;
    padding: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    text-align: center;
    
}

.b-item1 a{
    background-color:#adacac;
    padding: 10px;
    border-radius: 4px;
    color: #000000;
    text-decoration: none;
    font-family: cursive;
   
}
.b-item1 a:hover{
    background-color:#000000;
    color: #f8f8f8;
    
}
.b-item2 a{
    background-color:#adacac;
    padding: 10px;
    border-radius: 4px;
    color: #000000;
    text-decoration: none;
    font-family: cursive;
   
}
.b-item2 a:hover{
    background-color:#000000;
    color: #f8f8f8;
    
}
.b-item3 a{
    background-color:#adacac;
    padding: 10px;
    border-radius: 4px;
    color: #000000;
    text-decoration: none;
    font-family: cursive;
   
}
.b-item3 a:hover{
    background-color:#000000;
    color: #f8f8f8;
    
}
.b-item4 a{
    background-color:#adacac;
    padding: 10px;
    border-radius: 4px;
    color: #000000;
    text-decoration: none;
    font-family: cursive;
   
}
.b-item4 a:hover{
    background-color:#000000;
    color: #f8f8f8;
    
}

.b-item1 h3{
    color: #303030;
    font-size: 26px;
    font-family: "Fira Sans";
    margin-bottom: 15px;
}
.b-item2 h3{
    color: #303030;
    font-size: 26px;
    font-family: "Fira Sans";
    margin-bottom: 15px;
}
.b-item3 h3{
    color: #303030;
    font-size: 26px;
    font-family: "Fira Sans";
    margin-bottom: 15px;
}
.b-item4 h3{
    color: #303030;
    font-size: 26px;
    font-family: "Fira Sans";
    margin-bottom: 15px;
}

.b-item1 h2{
    color: #303030;
    font-size: 48px;
    font-family: "Fira Sans";
    font-weight: 500;
    margin-bottom: 10px;
    color: #000000;
}
.b-item2 h2{
    color: #303030;
    font-size: 48px;
    font-family: "Fira Sans";
    font-weight: 500;
    margin-bottom: 10px;
    color: #000000;
}
.b-item3 h2{
    color: #303030;
    font-size: 48px;
    font-family: "Fira Sans";
    font-weight: 500;
    margin-bottom: 10px;
    color: #000000;
}
.b-item4 h2{
    color: #303030;
    font-size: 48px;
    font-family: "Fira Sans";
    font-weight: 500;
    margin-bottom: 10px;
    color: #000000;
}

.o{
    font-family: "Fira Sans";
    line-height: 1.86em;
    opacity: .5;
    font-weight: 400;
    font-size: 15px;
}
.b-item1 p{
    font-size: 15px;
    color: #777;
    font-family: "Fira Sans";
    font-weight: 400;
    
}
.b-item2 p{
    font-size: 15px;
    color: #777;
    font-family: "Fira Sans";
    font-weight: 400;
    
}
.b-item3 p{
    font-size: 15px;
    color: #777;
    font-family: "Fira Sans";
    font-weight: 400;
    
}
.b-item4 p{
    font-size: 15px;
    color: #777;
    font-family: "Fira Sans";
    font-weight: 400;
    
}












.Blog{
    transform: translateY(1px);
}

.G-info{
    float: left;
    width: 50%;
    transform: translateX(80px);
}
.G-img{
    float: left;
    width: 50%;
}

.a{
    clear: both;
}
.Gallery{
    background: #f8f8f8;
    padding: 100px;
}
.G-info h2{
    color: #303030;
    font-weight: 400;
    font-family: "Alegreya";
    font-size: 1.5rem;
    margin-bottom: 30px;
}
.G-info p{
    line-height: 1.86em;
    font-family: "Alegreya Sans";
    font-size: 17px;
    font-weight: 400;
    color: #686868;
    width: 90%;
    margin-bottom: 30px;
}
.G-info h3{
    font-family: "Alegreya Sans";
    font-size: 17px;
    font-weight: 400;
    color: #686868;
    margin-bottom: 15px;

}
.G-info ul{
    list-style: none;
}
.G-info ul li i  {
     background-color: #8e7754 !important;
     padding: 10px;
     border-radius: 50%;
     margin-right: 15px;
     margin-bottom: 15px;
     color: #f8f8f8;
}

.G-img{
    transform:translateX(40px);
}
.G-img iframe{
    width: 80%;
}

.Blog{
    background-color: #456a86;
    padding: 70px 0px 0px 40px;
}

.cccc{
    display: flex;
    justify-content: space-evenly;
    color:#f8f8f8;
}
.elm1{
    width: 25%;
    transform: translateX(90px);
}
.elm2{
    width: 25%;
    transform: translateX(150px);
}
.elm3{
    width: 50%;
    transform: translateX(190px);
}
.elm4 {
    width: 25%;
    transform: translateX(-90px);
 
}
.Blog ul{
    list-style: none;
}
.elm1 h3{
    
    opacity: 1;
    color: #ffffff;
    font-size: 17px;
    margin-bottom: 25px;
    font-family: "Alegreya";
    font-weight: 400;
    margin-left: 50px;
}
.pp{
    color: #d4dbe0;
    font-size: 14px;
    line-height: 1.86em;
    margin-bottom: 5px;
    font-family: "Alegreya Sans";
    font-weight: 400;
    width: 100%;
    transform: translateY(-40px);
    
}
.ppp{
    font-family: "Alegreya Sans";
    font-weight: 400;
    color: #d4dbe0;
    font-size: 14px;
    line-height: 1.86em;
    transform: translateY(-60px);
}
.elm2 h3{
 
    opacity: 1;
    color: #ffffff;
    font-size: 17px;
    margin-bottom: 25px;
    font-family: "Alegreya";
    font-weight: 400;
    margin-left: 25px;
}

.elm2 ul li{
    color: #d4dbe0;
    font-size: 14px;
    line-height: 1.86em;
    margin-bottom: 20px;
    font-family: "Alegreya Sans";
    font-weight: 400;   
}

.elm3 h3{
    color: #ffffff;
    font-size: 17px;
    margin-bottom: 25px;
    font-family: "Alegreya";
    font-weight: 400;  
    margin-left: 25px;
}
.elm3 ul li{
    color: #d4dbe0;
    font-size: 14px;
    line-height: 1.86em;
    margin-bottom: 20px;
    font-family: "Alegreya Sans";
    font-weight: 400;   
}

.elm4 h3{
    color: #ffffff;
    font-size: 17px;
    margin-bottom: 25px;
    font-family: "Alegreya";
    font-weight: 400; 
    margin-left: 25px; 
}
.elm4 ul li{
    color: #d4dbe0;
    font-size: 14px;
    line-height: 1.86em;
    margin-bottom: 20px;
    font-family: "Alegreya Sans";
    font-weight: 400;   
}

.w{
    background-image: url(../img/contact-details-map.png);
    background-size: cover;
    background-color: rgba(0, 0, 0, .001);
}







.end{
    transform: translateY(1px);
    padding: 15px;
    background-color: #3c5b73;
}
.cv{
    display: flex;
    justify-content: space-around;
}
.end-info p{
    transform: translateX(-90px);
    margin-top: 12px;
    margin-bottom: 12px;
    color: #d4dbe0;
    opacity: 1;
    font-size: 13px;
}
.end-ico i{
    background-color: #324b5f;
    padding: 5px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 50%;
    color: #fff;
    margin-right: 20px;
}
.u{
  position: absolute;
  right:50px;
}
.end-ico a :hover{
  background-color:#3ca5b3;
}