*{
    margin: 0;
    padding: 0;
}


.info{
    float: left;
    width: 50%;
}

.links{
    float: left;
    width: 50%;
}
.clear{
    clear: both;
}

.links p{
    float: left;
}
.links a{
    float: left;
    transform: translateX(220px);
    
    padding: 5px;
    margin-right: 10px;
    border: solid 1px #e7e7e7;
}
.c{
    clear: both;
}
.head{
    background-color: #f8f8f8;
    
}
.info p{
    transform: translateX(150px);
}
.links i{
    padding: 5px;
    color: black;
}

 .links i:hover{
    background-color:rgb(9, 9, 134);
    color: #f8f8f8;
}

.info p{
    font-size: 14px;
    font-family: "Fira Sans";
    font-weight: 400;
    color: #888;
    margin-top: 10px;
}
.links p{
    font-size: 14px;
    font-family: "Fira Sans";
    font-weight: 400;
    color: #888;
    margin-top: 10px;
    transform: translateX(200px);
}

.hh-img img{
    width: 150px;
}
.continerr{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    position: fixed;
    
}
.hh-links a{
    margin-right: 15px;
    font-family:cursive;
    font-weight: 400;
    font-size: small;
    
    
}
.hh-links{
    transform: translateX(90px);
    margin-top: 5px;
}

.headd{
    background-color: white;
    height: 60px;
}
.hh-links a{
    text-decoration: none;
}
 .item{
    color:#888;
}
.hh-links a:hover{
    color: rgb(41, 148, 248);
}
.item3{
    color: rgb(69, 69, 207);
}









.continer{
    display: flex;
    justify-content: space-around;
    
}
.aa-l{
    display: flex;
}
.aabout{
    padding: 30px;
    background-color: #469fe4;
}
.aa-info h2{
    transform: translateX(-90px);
    font-family: "Fira Sans";
    color: #ffffff;
    font-size: 32px;
    opacity: 1;
    font-weight: 400;
}
.aa-l a{
    text-decoration: none;
    color: #f8f8f8;
    opacity: .5;
    margin-right: 10px;
    font-size: 15px;
    font-family: "Fira Sans";
    margin-top: 10px;
}
.aa-l p{
    color: #f8f8f8;
    font-size: 15px;
    font-family: "Fira Sans";
    margin-top: 10px;
}
.aa-l a:hover{
    color: #888;
}











.D-continer{
    display: flex;
    padding: 50px;
}
.D-img img{
    width: 400px;
    transform: translateX(30px);
    margin-top: 30px;
    transition: width 4s;
}
.D-info h2{
    font-family: "Fira Sans";
    font-size: 32px;
    color: #303030;
    font-weight: 400;
    margin-bottom: 25px;
}
.D-info p{
    line-height: 1.86em;
    font-family: "Fira Sans";
    font-weight: 400;
    color: #686868;
    width: 500px;
    font-size: 16px;
    margin-bottom: 30px;
}
.D-info{
    transform: translateX(150px);
    margin-top: 100px;
}

.D-info a{
    text-decoration:none;
    background-color: #469fe4;
    color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    font-family: "Fira Sans";
    font-weight: 700;
}

.par:hover{
    background-color: #303030;
   
}

.D-img img:hover{
    width: 500px;
}











.D2-continer{
    display: flex;
    padding: 50px;
    background-color: #f8f8f8;
}
.D2-img img{
    width: 400px;
    transform: translateX(200px);
    margin-top: 30px;
    transition: width 4s;
}
.D2-info h2{
    font-family: "Fira Sans";
    font-size: 32px;
    color: #303030;
    font-weight: 400;
    margin-bottom: 25px;
}
.D2-info p{
    line-height: 1.86em;
    font-family: "Fira Sans";
    font-weight: 400;
    color: #686868;
    width: 500px;
    font-size: 16px;
    margin-bottom: 30px;
}
.D2-info{
    transform: translateX(100px);
    margin-top: 100px;
}

.D2-info a{
    text-decoration:none;
    background-color: #469fe4;
    color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    font-family: "Fira Sans";
    font-weight: 700;
}

.par:hover{
    background-color: #303030;
   
}

.D2-img img:hover{
    width: 500px;
}








.D3-continer{
    display: flex;
    padding: 50px;
}
.D3-img img{
    width: 400px;
    transform: translateX(90px);
    margin-top: 30px;
    transition: width 4s;
}
.D3-info h2{
    font-family: "Fira Sans";
    font-size: 32px;
    color: #303030;
    font-weight: 400;
    margin-bottom: 25px;
}
.D3-info p{
    line-height: 1.86em;
    font-family: "Fira Sans";
    font-weight: 400;
    color: #686868;
    width: 500px;
    font-size: 16px;
    margin-bottom: 30px;
}
.D3-info{
    transform: translateX(250px);
    margin-top: 100px;
}

.D3-info a{
    text-decoration:none;
    background-color: #469fe4;
    color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    font-family: "Fira Sans";
    font-weight: 700;
}

.par:hover{
    background-color: #303030;
   
}

.D3-img img:hover{
    width: 500px;
}








.D4-continer{
    display: flex;
    padding: 50px;
    background-color: #f8f8f8;
}
.D4-img img{
    width: 400px;
    transform: translateX(200px);
    margin-top: 30px;
    transition: width 4s;
}
.D4-info h2{
    font-family: "Fira Sans";
    font-size: 32px;
    color: #303030;
    font-weight: 400;
    margin-bottom: 25px;
}
.D4-info p{
    line-height: 1.86em;
    font-family: "Fira Sans";
    font-weight: 400;
    color: #686868;
    width: 500px;
    font-size: 16px;
    margin-bottom: 30px;
}
.D4-info{
    transform: translateX(100px);
    margin-top: 100px;
}

.D4-info a{
    text-decoration:none;
    background-color: #469fe4;
    color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    font-size: 14px;
    font-family: "Fira Sans";
    font-weight: 700;
}

.par:hover{
    background-color: #303030;
   
}

.D4-img img:hover{
    width: 500px;
}







.Blog{
    transform: translateY(1px);
}

.G-info{
    float: left;
    width: 50%;
    transform: translateX(80px);
}
.G-img{
    float: left;
    width: 50%;
}

.a{
    clear: both;
}
.Gallery{
    background: #f8f8f8;
    padding: 100px;
}
.G-info h2{
    color: #303030;
    font-weight: 400;
    font-family: "Alegreya";
    font-size: 1.5rem;
    margin-bottom: 30px;
}
.G-info p{
    line-height: 1.86em;
    font-family: "Alegreya Sans";
    font-size: 17px;
    font-weight: 400;
    color: #686868;
    width: 90%;
    margin-bottom: 30px;
}
.G-info h3{
    font-family: "Alegreya Sans";
    font-size: 17px;
    font-weight: 400;
    color: #686868;
    margin-bottom: 15px;

}
.G-info ul{
    list-style: none;
}
.G-info ul li i  {
     background-color: #8e7754 !important;
     padding: 10px;
     border-radius: 50%;
     margin-right: 15px;
     margin-bottom: 15px;
     color: #f8f8f8;
}

.G-img{
    transform:translateX(40px);
}
.G-img iframe{
    width: 80%;
}

.Blog{
    background-color: #456a86;
    padding: 70px 0px 0px 40px;
}

.cccc{
    display: flex;
    justify-content: space-evenly;
    color:#f8f8f8;
}
.elm1{
    width: 25%;
    transform: translateX(90px);
}
.elm2{
    width: 25%;
    transform: translateX(150px);
}
.elm3{
    width: 50%;
    transform: translateX(190px);
}
.elm4 {
    width: 25%;
    transform: translateX(-90px);
 
}
.Blog ul{
    list-style: none;
}
.elm1 h3{
    
    opacity: 1;
    color: #ffffff;
    font-size: 17px;
    margin-bottom: 25px;
    font-family: "Alegreya";
    font-weight: 400;
    margin-left: 5px;
}
.pp{
    color: #d4dbe0;
    font-size: 14px;
    line-height: 1.86em;
    margin-bottom: 20px;
    font-family: "Alegreya Sans";
    font-weight: 400;
    width: 100%;
}
.ppp{
    font-family: "Alegreya Sans";
    font-weight: 400;
    color: #d4dbe0;
    font-size: 14px;
    line-height: 1.86em;
}
.elm2 h3{
 
    opacity: 1;
    color: #ffffff;
    font-size: 17px;
    margin-bottom: 25px;
    font-family: "Alegreya";
    font-weight: 400;
    margin-left: 25px;
}

.elm2 ul li{
    color: #d4dbe0;
    font-size: 14px;
    line-height: 1.86em;
    margin-bottom: 20px;
    font-family: "Alegreya Sans";
    font-weight: 400;   
}

.elm3 h3{
    color: #ffffff;
    font-size: 17px;
    margin-bottom: 25px;
    font-family: "Alegreya";
    font-weight: 400;  
    margin-left: 25px;
}
.elm3 ul li{
    color: #d4dbe0;
    font-size: 14px;
    line-height: 1.86em;
    margin-bottom: 20px;
    font-family: "Alegreya Sans";
    font-weight: 400;   
}

.elm4 h3{
    color: #ffffff;
    font-size: 17px;
    margin-bottom: 25px;
    font-family: "Alegreya";
    font-weight: 400; 
    margin-left: 25px; 
}
.elm4 ul li{
    color: #d4dbe0;
    font-size: 14px;
    line-height: 1.86em;
    margin-bottom: 20px;
    font-family: "Alegreya Sans";
    font-weight: 400;   
}

.w{
    background-image: url(../img/contact-details-map.png);
    background-size: cover;
    background-color: rgba(0, 0, 0, .001);
}







.end{
    transform: translateY(1px);
    padding: 15px;
    background-color: #3c5b73;
}
.cv{
    display: flex;
    justify-content: space-around;
}
.end-info p{
    transform: translateX(-90px);
    margin-top: 12px;
    margin-bottom: 12px;
    color: #d4dbe0;
    opacity: 1;
    font-size: 13px;
}
.end-ico i{
    background-color: #324b5f;
    padding: 5px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-radius: 50%;
    color: #fff;
    margin-right: 20px;
}
.u{
  position: absolute;
  right:50px;
}
.end-ico a :hover{
  background-color:#3ca5b3;
}






